  table {
	  background-color: pink; color:white;
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 0px;
    text-align: left;
  }

  th {
    background-color: orange;
  }